<h1 class="hidden">Here is the list Foods for current user</h1>

<div class="food_button_wrapper"><%= button_to 'Add Food', new_food_path, method: :get %></div></div>
<div class="allfoods">
  <ul>
    <li class="listitem">
      <span class="fixedwidth">Food</span>
      <span class="centered">Measurement Unit</span>
      <span class="centered">Price</span>
      <span class="centered">Action</span>
    </li>
    <% @foods.each do |food| %>
      <li class="listitem">
        <span class="fixedwidth"><%= food.name %></span>
        <span class="centered"><%= food.measurement_unit %></span>
        <span class="centered"><%= food.price %></span>
        <span class="centered"><%= link_to "Delete", "/foods/#{ food.id }", data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' } %></span>
      </li>
    <% end %>
  </ul>
</div>
